.zodiac-btn {
  width: 12rem;
  height: 14rem;
  background-color: #392d68;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  opacity: 80%;
  border-radius: 0.5rem;
  border: 0;
  padding: 2rem;
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack content vertically */
  justify-content: flex-end; /* Align content to the bottom */
  align-items: center; /* Center content horizontally */
}

/* Adjust for smaller screens */
@media screen and (max-width: 970px) {
  .zodiac-btn {
    width: 15vw;
    height: 25vh;
    font-size: large;
    padding-bottom: 0.5rem;
    background-size: 60%;
  }
}

/* Adjust for smaller screens */
@media screen and (max-width: 770px) {
  .zodiac-btn {
    width: 15vw;
    height: 19vh;
    font-size: medium;
    padding-bottom: 0.3rem;
    background-size: 60%;
  }
}

/* Adjust for smaller screens */
@media screen and (max-width: 570px) {
  .zodiac-btn {
    width: 22vw;
    height: 17vh;
    font-size: small;
    padding: 0.5rem;
    background-size: 60%;
  }
}

/* Adjust for smaller screens */
@media screen and (max-width: 490px) {
  .zodiac-btn {
    width: 22vw;
    height: 15vh;
    font-size: x-small;
    padding: 0.2rem;
    padding-bottom: 0.6rem;
    background-size: 60%;
  }
}

/* Adjust for smaller screens */
@media screen and (max-width: 400px) {
  .zodiac-btn {
    width: 22vw;
    height: 12vh;
    font-size: x-small;
    padding: 0.2rem;
    padding-bottom: 0.3rem;
    background-size: 60%;
  }
}

/* Adjust for smaller screens */
@media screen and (max-width: 350px) {
  .zodiac-btn {
    width: 22vw;
    height: 8vh;
    font-size: x-small;
    padding: 0.2rem;
    padding-bottom: 0.3rem;
    background-size: 60%;
  }
}

.zodiac-btn:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.zodiac-aries-btn {
  background-image: url(../../../public/img/aries.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 35%;
}

.zodiac-taurus-btn {
  background-image: url(../../../public/img/taurus.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 35%;
}

.zodiac-gemini-btn {
  background-image: url(../../../public/img/gemini.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 35%;
}

.zodiac-cancer-btn {
  background-image: url(../../../public/img/cancer.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 35%;
}

.zodiac-leo-btn {
  background-image: url(../../../public/img/leo.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 35%;
}

.zodiac-virgo-btn {
  background-image: url(../../../public/img/virgo.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 35%;
}

.zodiac-libra-btn {
  background-image: url(../../../public/img/libra.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 35%;
}

.zodiac-scorpio-btn {
  background-image: url(../../../public/img/scorpio.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 35%;
}

.zodiac-sagittarius-btn {
  background-image: url(../../../public/img/sagittarius.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 35%;
}

.zodiac-capricorn-btn {
  background-image: url(../../../public/img/capricorn.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 35%;
}

.zodiac-aquarius-btn {
  background-image: url(../../../public/img/aquarius.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 35%;
}

.zodiac-pisces-btn {
  background-image: url(../../../public/img/pisces.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 35%;
}
