.cosma-path-btn {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  background-image: url(../../../public/img/unicorn.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 3rem;
  text-decoration: none;
}

.cosma-path-btn-text {
  font-size: xx-large;
}

.cosma-path-btn:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
