.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 250%;
  width: 80vw;
  margin-top: 8rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.home-description {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 80vw;
  margin-bottom: 5rem;
}

.home-btn-container {
  display: grid;
  justify-items: center;
  gap: 4rem;
  width: 80vw;
  margin-bottom: 5rem;
}

.soon {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
