.home-btn {
  width: 25rem;
  height: 15rem;
  background-color: #392d68;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  opacity: 80%;
  border-radius: 0.5rem;
  border: 0;
  padding: 2rem;
}

.home-btn:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

/* Adjust for smaller screens */
@media screen and (max-width: 500px) {
  .home-btn {
    width: 80vw;
  }
}
